# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude locally vendored dependencies.
vendor/

# Exclude "build-time" ignore files.
.*ignore
.editorconfig

# Exclude git history and configuration.
.git
.vscode

**/*_test.go
Makefile
LICENSE
NOTICE
*.md

arm/
powerpc/
mips/

# Air
tmp

# Docker things
docker-compose*.yaml
Dockerfile*
.env.example
